
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div style="text-align:center">
                <ngx-barcode6
                    [bc-format]="'CODE128'"
                    [bc-value]="getSelectedLabel()"
                    [bc-display-value]="true"
                >
                </ngx-barcode6>
                </div>
        </div>
        <div class="col-10  d-print-none">
            <p>Existing Inventory of Product</p>
            <app-list-inventory [filterwithbarcode]="getSelectedLabel()"></app-list-inventory>
        </div>
    </div>
</div>
<div class="container-fluid d-print-none">
    <div class="row">
       <div class="col-12"><p class="text text-center text-bg-secondary ">Upload Levelwise Code and Name</p></div>
        
        <div class="col-2">
            <mat-form-field>
                <mat-label >Select Level</mat-label>
                <mat-select [multiple]="false" name="selectedLevelInputData" #selectedLevelInputData (selectionChange)="leveldatachanged($event)">
                    <mat-option *ngFor="let level of levelList" [value]="level">Level{{level+1}} </mat-option>
                </mat-select>
            </mat-form-field>            
        </div>
        <div class="col-2"> 
            <input type="file" id="leveldata" name="leveldata" (input)="onxlsxFileChange($event)" multiple="false">
        </div>
        
    </div>
    <div class="row">
        <div class="col-2">
            <p class="text text-center text-bg-secondary ">Existing Labels</p>
            <form class="firstSearchForm">
                <mat-form-field >
                    <span matPrefix> </span>
                  <mat-label>Search For Labels</mat-label>
                  <input matInput placeholder="labelvalue" name= "searchlabel" [(ngModel)]= "searchlabel"  value="">
                  <button matSuffix mat-button (click)="searchexistinglabel()"><mat-icon >search</mat-icon></button>
                </mat-form-field>
              </form>
              <p class="text-bg-secondary">Filtered Labels</p>
              <mat-selection-list [multiple]="false" #selectedExistingLabel (selectionChange)="existingLabelSelectionChange($event)">
                <mat-list-option *ngFor="let existingLabel of filteredLabels" [value]="existingLabel">
                    <button mat-icon-button (click)="openDialogForDeleteConfirmation($event, existingLabel)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      {{existingLabel.data}} 
                </mat-list-option>
            </mat-selection-list>
            <p  class="text-bg-secondary">All Labels</p>
            <mat-selection-list [multiple]="false" #selectedExistingLabel (selectionChange)="existingLabelSelectionChange($event)">
                <mat-list-option *ngFor="let existingLabel of existingLabelList" [value]="existingLabel" title="Select barcode">
                    <button mat-icon-button (click)="openDialogForDeleteConfirmation($event, existingLabel)" 
                    color="warn" title="Delete barcode">
                        <mat-icon>delete</mat-icon>
                      </button>
                    {{existingLabel.data}} 
                </mat-list-option>
            </mat-selection-list>
            <p  class="text-bg-secondary">
                Label selected: {{getSelectedLabel()}}
            </p>
        </div>
        <div class="col-10">
            <div class="row">

            
        <div class="col-2">
            <p class="text text-center text-bg-secondary ">New Barcode</p>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile><button mat-raised-button (click)="savebarcode()">Save</button></mat-grid-tile>
                <mat-grid-tile><button mat-raised-button (click)="resetbarcode()">Reset</button></mat-grid-tile>
            </mat-grid-list>
           
            <p>Category</p>
            <div
                cdkDropList
                #doneList1="cdkDropList"
                [cdkDropListData]="done[0]"
                [cdkDropListConnectedTo]="[todoList1]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,0)">
                <div class="example-box" *ngFor="let item of done[0]" cdkDrag>{{item.component}}</div>
            </div>
            <span>Spec</span>
            <div
                cdkDropList
                #doneList2="cdkDropList"
                [cdkDropListData]="done[1]"
                [cdkDropListConnectedTo]="[todoList2]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,1)">
                <div class="example-box" *ngFor="let item of done[1]" cdkDrag>{{item.component}}</div>
            </div>
            <span>Size</span>
            <div
                cdkDropList
                #doneList3="cdkDropList"
                [cdkDropListData]="done[2]"
                [cdkDropListConnectedTo]="[todoList3]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,2)">
                <div class="example-box" *ngFor="let item of done[2]" cdkDrag>{{item.component}}</div>
            </div>
            <span>Color</span>
            <div
                cdkDropList
                #doneList4="cdkDropList"
                [cdkDropListData]="done[3]"
                [cdkDropListConnectedTo]="[todoList4]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,3)">
                <div class="example-box" *ngFor="let item of done[3]" cdkDrag>{{item.component}}</div>
            </div>
            <span>Quantity</span>
            <div
                cdkDropList
                #doneList5="cdkDropList"
                [cdkDropListData]="done[4]"
                [cdkDropListConnectedTo]="[todoList5]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,4)">
                <div class="example-box" *ngFor="let item of done[4]" cdkDrag>{{item.component}}</div>
            </div>
            
 
           
           
                <div >
                    Selected Label {{getSelectedLabel()}}
                </div>
                <div >
                    <div style="text-align:center">
                        <ngx-barcode6
                            [bc-format]="'CODE128'"
                            [bc-value]="getSelectedLabel()"
                            [bc-display-value]="true"
                        >
                        </ngx-barcode6>
                        </div>
                </div>
                
            

               
        </div>
        <div class="col-4">
            <p class="text text-center text-bg-secondary ">Available Level Data</p>
            <div class="row">
                <div class="col-12"></div>
                <form class="firstSearchForm">
                    <mat-form-field >
                        <span matPrefix> </span>
                      <mat-label>Search For</mat-label>
                      <input matInput placeholder="Level1-L1" name= "search" [(ngModel)]= "search"  value="">
                      <button matSuffix mat-button (click)="searchnow()"><mat-icon >search</mat-icon></button>
                    </mat-form-field>
                  
                    
                  </form>
            </div>
            <mat-tab-group dynamicHeight preserveContent> 
                <mat-tab label="Category"> 
                    
                    <div class="row" >
                        <div class="col-12">
                            <p  class="text-bg-secondary">Filtered List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                filteredlist1
                                #filteredlist1="cdkDropList"
                                [cdkDropListData]="filteredItems1[0]"
                                [cdkDropListConnectedTo]="[doneList1,relationshipList1]"
                                
                                (cdkDropListDropped)="drop2($event,0)">
                                    <mat-chip *ngFor="let item of filteredItems1[0]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                        </div>
                    
                        <div class="col-12">
                            <p  class="text-bg-secondary">Complete List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                todoList1
                                #todoList1="cdkDropList"
                                [cdkDropListData]="barcodeparts[0]"
                                [cdkDropListConnectedTo]="[doneList1,relationshipList1]"
                                
                                (cdkDropListDropped)="drop2($event,0)">
                                    <mat-chip *ngFor="let item of barcodeparts[0]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                            <p>Drag1 here end</p>
                            <form class="addnewitem">
                                <mat-form-field >
                                    <span matPrefix> </span>
                                  <mat-label>Add new</mat-label>
                                  <input matInput placeholder="name###code" name= "newlyaddeditem" [(ngModel)]= "newlyaddeditem"  value="">
                                  <button matSuffix mat-button (click)="addnow(0)"><mat-icon >add_box</mat-icon></button>
                                </mat-form-field>
                              
                                
                              </form>
                            
                        </div>
                    </div>
                    
                      

                </mat-tab>
                <mat-tab label="Spec"> 
                    
                    <div class="row" >
                        <div class="col-12">
                            <p class="text-bg-secondary">Filtered List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                filteredlist2
                                #filteredlist2="cdkDropList"
                                [cdkDropListData]="filteredItems1[1]"
                                [cdkDropListConnectedTo]="[doneList2,relationshipList2]"
                                
                                (cdkDropListDropped)="drop2($event,1)">
                                    <mat-chip *ngFor="let item of filteredItems1[1]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                        </div>
                    
                        <div class="col-12">
                            <p  class="text-bg-secondary">Complete List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                todoList2
                                #todoList2="cdkDropList"
                                [cdkDropListData]="barcodeparts[1]"
                                [cdkDropListConnectedTo]="[doneList2,relationshipList2]"
                                
                                (cdkDropListDropped)="drop2($event,1)">
                                    <mat-chip *ngFor="let item of barcodeparts[1]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                            <p>Drag1 here end</p>
                            <form class="addnewitem">
                                <mat-form-field >
                                    <span matPrefix> </span>
                                  <mat-label>Add new</mat-label>
                                  <input matInput placeholder="name###code" name= "newlyaddeditem" [(ngModel)]= "newlyaddeditem"  value="">
                                  <button matSuffix mat-button (click)="addnow(1)"><mat-icon >add_box</mat-icon></button>
                                </mat-form-field>
                              
                                
                              </form>
                            
                        </div>
                    </div>
                    
                      

                </mat-tab>
                <mat-tab label="Size"> 
                    
                    <div class="row" >
                        <div class="col-12">
                            <p class="text-bg-secondary">Filtered List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                filteredlist3
                                #filteredlist3="cdkDropList"
                                [cdkDropListData]="filteredItems1[2]"
                                [cdkDropListConnectedTo]="[doneList3,relationshipList3]"
                                
                                (cdkDropListDropped)="drop2($event,2)">
                                    <mat-chip *ngFor="let item of filteredItems1[2]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                        </div>
                    
                        <div class="col-12">
                            <p  class="text-bg-secondary">Complete List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                todoList3
                                #todoList3="cdkDropList"
                                [cdkDropListData]="barcodeparts[2]"
                                [cdkDropListConnectedTo]="[doneList3,relationshipList3]"
                                
                                (cdkDropListDropped)="drop2($event,2)">
                                    <mat-chip *ngFor="let item of barcodeparts[2]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                            <p>Drag1 here end</p>
                            <form class="addnewitem">
                                <mat-form-field >
                                    <span matPrefix> </span>
                                  <mat-label>Add new</mat-label>
                                  <input matInput placeholder="name###code" name= "newlyaddeditem" [(ngModel)]= "newlyaddeditem"  value="">
                                  <button matSuffix mat-button (click)="addnow(2)"><mat-icon >add_box</mat-icon></button>
                                </mat-form-field>
                              
                                
                              </form>
                            
                        </div>
                    </div>
                    
                      

                </mat-tab>
                <mat-tab label="Color"> 
                    
                    <div class="row" >
                        <div class="col-12">
                            <p class="text-bg-secondary">Filtered List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                filteredlist4
                                #filteredlist4="cdkDropList"
                                [cdkDropListData]="filteredItems1[3]"
                                [cdkDropListConnectedTo]="[doneList4,relationshipList4]"
                                
                                (cdkDropListDropped)="drop2($event,3)">
                                    <mat-chip *ngFor="let item of filteredItems1[3]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                        </div>
                    
                        <div class="col-12">
                            <p  class="text-bg-secondary">Complete List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                todoList4
                                #todoList4="cdkDropList"
                                [cdkDropListData]="barcodeparts[3]"
                                [cdkDropListConnectedTo]="[doneList4,relationshipList4]"
                                
                                (cdkDropListDropped)="drop2($event,3)">
                                    <mat-chip *ngFor="let item of barcodeparts[3]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                            <p>Drag1 here end</p>
                            <form class="addnewitem">
                                <mat-form-field >
                                    <span matPrefix> </span>
                                  <mat-label>Add new</mat-label>
                                  <input matInput placeholder="name###code" name= "newlyaddeditem" [(ngModel)]= "newlyaddeditem"  value="">
                                  <button matSuffix mat-button (click)="addnow(3)"><mat-icon >add_box</mat-icon></button>
                                </mat-form-field>
                              
                                
                              </form>
                            
                        </div>
                    </div>
                    
                      

                </mat-tab>
                <mat-tab label="Quantity"> 
                    
                    <div class="row" >
                        <div class="col-12">
                            <p class="text-bg-secondary">Filtered List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                filteredlist5
                                #filteredlist5="cdkDropList"
                                [cdkDropListData]="filteredItems1[4]"
                                [cdkDropListConnectedTo]="[doneList5,relationshipList5]"
                                
                                (cdkDropListDropped)="drop2($event,4)">
                                    <mat-chip *ngFor="let item of filteredItems1[4]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                        </div>
                    
                        <div class="col-12">
                            <p  class="text-bg-secondary">Complete List Drage from here</p>
                            <mat-chip-list cdkDropList 
                                class="droppable-chipset" 
                                todoList5
                                #todoList5="cdkDropList"
                                [cdkDropListData]="barcodeparts[4]"
                                [cdkDropListConnectedTo]="[doneList5,relationshipList5]"
                                
                                (cdkDropListDropped)="drop2($event,4)">
                                    <mat-chip *ngFor="let item of barcodeparts[4]" cdkDrag (removed)="openDialogForDeletePartConfirmation($event, item)" removable="true">{{ item.component }}
                                        <button matChipRemove >
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-chip>
                            </mat-chip-list>
                            <p>Drag1 here end</p>
                            <form class="addnewitem">
                                <mat-form-field >
                                    <span matPrefix> </span>
                                  <mat-label>Add new</mat-label>
                                  <input matInput placeholder="name###code" name= "newlyaddeditem" [(ngModel)]= "newlyaddeditem"  value="">
                                  <button matSuffix mat-button (click)="addnow(4)"><mat-icon >add_box</mat-icon></button>
                                </mat-form-field>
                              </form>
                        </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
        <div class="col-2">
            <p class="text text-center text-bg-secondary ">New Level Relationship</p>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile><button mat-raised-button (click)="saverelationship()">Save</button></mat-grid-tile>
                <mat-grid-tile><button mat-raised-button (click)="resetrelationship()">Reset</button></mat-grid-tile>
            </mat-grid-list>
           
            <p>Category</p>
            <div
                cdkDropList
                #relationshipList1="cdkDropList"
                [cdkDropListData]="relationshipholder[0]"
                [cdkDropListConnectedTo]="[todoList1]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,0)">
                <div class="example-box" *ngFor="let item of relationshipholder[0]" cdkDrag>{{item.component}}</div>
            </div>
            <span>Spec</span>
            <div
                cdkDropList
                #relationshipList2="cdkDropList"
                [cdkDropListData]="relationshipholder[1]"
                [cdkDropListConnectedTo]="[todoList2]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,1)">
                <div class="example-box" *ngFor="let item of relationshipholder[1]" cdkDrag>{{item.component}}</div>
            </div>
            <span>Size</span>
            <div
                cdkDropList
                #relationshipList3="cdkDropList"
                [cdkDropListData]="relationshipholder[2]"
                [cdkDropListConnectedTo]="[todoList3]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,2)">
                <div class="example-box" *ngFor="let item of relationshipholder[2]" cdkDrag>{{item.component}}</div>
            </div>
            <span>Color</span>
            <div
                cdkDropList
                #relationshipList4="cdkDropList"
                [cdkDropListData]="relationshipholder[3]"
                [cdkDropListConnectedTo]="[todoList4]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,3)">
                <div class="example-box" *ngFor="let item of relationshipholder[3]" cdkDrag>{{item.component}}</div>
            </div>
            <span> Quantity</span>
            <div 
                cdkDropList
                #relationshipList5="cdkDropList"
                [cdkDropListData]="relationshipholder[4]"
                [cdkDropListConnectedTo]="[todoList5]"
                class="example-list"
                (cdkDropListDropped)="main_drop($event,4)">
               
                <div class="example-box" *ngFor="let item of relationshipholder[4]" cdkDrag>{{item.component}}</div>
            </div>
        </div>
        <div class="col-2">
            <p class="text text-center text-bg-secondary ">Existing Relationship</p>
            <div *ngFor="let level of [0,1,2,3,4]">
                <p>{{levelnames[level]}}</p>
                <span *ngIf="levelReationList.length>=level+1">
                    <mat-selection-list  [multiple]="false" #selectedExistingLabel (selectionChange)="existingRelationshipSelectionChange($event, level)">
                        <mat-list-option *ngFor="let existingLabel of get_relationships_for_level(level)" [value]="existingLabel"><span class="text text-bg-secondary">{{existingLabel[0]}}</span> -> {{existingLabel[1]}} </mat-list-option>
                    </mat-selection-list>
                </span>
            </div>
            <p>
                <!-- Relation selected: {{selectedExistingLabel.selectedOptions.hasValue() ? selectedExistingLabel.selectedOptions.selected[0].value : 'None'}} -->
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container d-print-none">
                <app-inventory [barcode]="getSelectedLabel()"></app-inventory>
            </div>
        </div>
    </div>
</div>
    </div>
</div>


