
<div class="container">
    <div class="row">
        <div class="col-4">
            <div
                cdkDropList
                #doneList1="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList1,todoList2]"
                class="example-list"
                (cdkDropListDropped)="drop2($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
            <hr style="color:red;height: 20px;"/>
            <p class="h4">New list for Keyword and Code name</p>
            <div
                cdkDropList
                #codeFormat1="cdkDropList"
                [cdkDropListData]="selectedKeywords"
                [cdkDropListConnectedTo]="[todoList1,todoList2]"
                class="example-list"
                (cdkDropListDropped)="drop3($event)">
                <div class="example-box" *ngFor="let item of selectedKeywords" cdkDrag>{{item.name}}-{{item.value}}</div>
            </div>

            <!-- <mat-chip-list cdkDropList 
                #doneList1="cdkDropList"
                [cdkDropListData]="draggableItems"
                [cdkDropListConnectedTo]="[todoList1]"
                
                (cdkDropListDropped)="drop2($event)"
                    class="draggable-chipset">
                <mat-chip *ngFor="let item of draggableItems" cdkDrag>{{ item }}</mat-chip>
            </mat-chip-list> -->
            <!-- <app-draggable-chipset></app-draggable-chipset> -->
      
       
       
            <mat-slide-toggle>Toggle me!</mat-slide-toggle>
            <mat-tab-group dynamicHeight preserveContent> 
                <mat-tab label="Generate BarCode"> 
                    <mat-chip-set
                        class="example-chip"
                        cdkDropList 
                        cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="drop($event)">
                        <mat-chip
                            class="example-box"
                            cdkDrag
                            *ngFor="let vegetable of vegetables">
                            {{vegetable.name}}
                        </mat-chip>
                        </mat-chip-set>

                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-5">
            <mat-tab-group dynamicHeight preserveContent> 
                <mat-tab label="First"> 
                    <mat-chip-set
                        class="example-chip"
                        cdkDropList 
                        cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="drop($event)">
                        <mat-chip
                            class="example-box"
                            cdkDrag
                            *ngFor="let vegetable of vegetables">
                            {{vegetable.name}}
                        </mat-chip>
                        </mat-chip-set>

                </mat-tab>
                <mat-tab label="Second"> 
                    <div class="example-button-container">
                        <button mat-raised-button (click)="formControl.disable()">Disable form control</button>
                        <button mat-raised-button (click)="formControl.enable()">Enable form control</button>
                      </div>
                      <p>
                        <em>Enter Barcode keywords</em>
                      </p>
                      <mat-form-field class="example-form-field">
                        <mat-label>Barcode keywords</mat-label>
                        <mat-chip-grid 
                        
                        #chipGrid 
                        aria-label="Enter keywords" 
                        [formControl]="formControl" >
                          <mat-chip-row *ngFor="let keyword of keywords" (removed)="removeKeyword(keyword)">
                            {{keyword.name}}-{{keyword.value}}
                            <button matChipRemove aria-label="'remove ' + keyword">
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                        </mat-chip-grid>
                        <input placeholder="New keyword..."
                                [matChipInputFor]="chipGrid"
                                (matChipInputTokenEnd)="add($event)"/>
                      </mat-form-field>
                      
                      <p>
                        <strong>The following keywords are entered:</strong> {{formControl.value}}
                      </p>    
                </mat-tab>
                    
                <mat-tab label="Third"> 
                    <p>Drag1 here start</p>
                    <mat-chip-list cdkDropList 
                        class="droppable-chipset" todoList1
                        #todoList1="cdkDropList"
                        [cdkDropListData]="droppedItems"
                        [cdkDropListConnectedTo]="[doneList1]"
                        
                        (cdkDropListDropped)="drop2($event)">
                            <mat-chip *ngFor="let item of droppedItems" cdkDrag>{{ item }}</mat-chip>
                    </mat-chip-list>
                    <p>Drag1 here end</p>
                    <p>Drag 2 here start</p>
                    <mat-chip-list cdkDropList 
                        class="droppable-chipset" 
                        todoList2
                        #todoList2="cdkDropList"
                        [cdkDropListData]="droppedItems2"
                        [cdkDropListConnectedTo]="[doneList1]"
                        
                        (cdkDropListDropped)="drop2($event)">
                            <mat-chip *ngFor="let item of droppedItems2" cdkDrag>{{ item }}</mat-chip>
                    </mat-chip-list>
                    <p>Drag2 here end</p>
                </mat-tab>
                
                <mat-tab label="Fourth"> Content 4 </mat-tab>
                <mat-tab label="Fifth"> Content 5 </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <p>Generate Barcode</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="level1">{{levelWiseFieldName[0]}}</label>
            <ng-select
                id="level1"
                [items]="data[0]|async"
                [bindLabel]="showFieldInDD"
                [trackByFn]="trackByFn"
                [minTermLength]="minLengthTerm" 
                [loading]="dataLoading"
                typeToSearchText="case sensitive Please enter {{minLengthTerm}} or more characters"
                [typeahead]="searchDataInput[0]"
                [addTag]="true"
                [(ngModel)]="selectedValue[0]"
                [multiple]="false"
                [searchable]="true"
                (add)="addNew(0,$event)"
                (change)="onSelect(0,$event)"
                >
                </ng-select>
        </div>
        <div class="col-4">
            <label for="level2">{{levelWiseFieldName[1]}}</label>
            <ng-select
                id="level2"
                [items]="data[1]|async"
                [bindLabel]="showFieldInDD"
                [trackByFn]="trackByFn"
                [minTermLength]="minLengthTerm" 
                [loading]="dataLoading"
                typeToSearchText="Please enter {{minLengthTerm}} or more characters"
                [typeahead]="searchDataInput[1]"
                [addTag]="true"
                [(ngModel)]="selectedValue[1]"
                [multiple]="false"
                [searchable]="true"
                (add)="addNew(1,$event)"
                (change)="onSelect(1,$event)"
                [disabled]="!this.selectedCategories[0]"
                >
                </ng-select>
        </div>
        <div class="col-4">
            <label for="leve31">{{levelWiseFieldName[2]}}</label>
            <ng-select
                id="level3"
                [items]="data[2]|async"
                [bindLabel]="showFieldInDD"
                [trackByFn]="trackByFn"
                [minTermLength]="minLengthTerm" 
                [loading]="dataLoading"
                typeToSearchText="Please enter {{minLengthTerm}} or more characters"
                [typeahead]="searchDataInput[2]"
                [addTag]="true"
                [(ngModel)]="selectedValue[2]"
                [multiple]="false"
                [searchable]="true"
                (add)="addNew(2,$event)"
                (change)="onSelect(2,$event)"
                [disabled]="!this.selectedCategories[1]"
            >
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Selected Label {{getSelectedLabel()}}
        </div>
        <div class="col-2">
            <div style="text-align:center">
                <ngx-barcode6
                  [bc-format]="'CODE128'"
                  [bc-value]="label"
                  [bc-display-value]="true"
                >
                </ngx-barcode6>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <button type="button" (click)="clear()">Clear</button>
        </div>
    </div>
</div>

-->
