<div class="row">
<div class="col-1 py-0">{{indexI}}</div>
<div class="col-5 py-0"> 
    <p>{{item!.productName}}<br/>
        <small class="text-primary">{{item!.initialPrice}}- {{item!.discount}}={{item!.productPrice}}
        <span class="text-secondary"> {{item!.hsn}} {{item!.gst}}%</span>
        </small>
    </p>
</div>
<div  class="col-3 py-0">
    <div class="d-flex w-100 justify-content-between">
        <div >
            <div cass="input-group ">
                <span  class="input-group-btn">
                    <button class="btn btn-danger value-control btn-sm" 
                    (click)="reduceQuantity(item)" data-action="minus" data-min="0"  
                    data-target="font-size"><i class="bi bi-dash"></i></button>
                </span>
                <span  style="width: 20px;" >
                    {{item!.quantityProvider.getValue()}}
                </span>
                <span  class="input-group-btn">
                    <button 
                        (click)="addQuantity(item)" class="btn btn-danger btn-sm value-control" 
                        data-action="plus" data-max="99" data-target="font-size"><i class="bi bi-plus"></i>
                    </button>
                </span>
            </div>
    </div>
    </div>

</div>
<div class="col-3 py-0">{{item!.quantityProvider.value * item!.productPrice}}</div>
</div>