.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exact-match {
  background-color: #c8e6c9; /* Light Green */
}

.approx-match {
  background-color: #a5d6a7; /* Darker Green */
}
