<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [class.active]="selectedTab === 'scan'" (click)="selectTab('scan')">Scan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="selectedTab === 'manual'" (click)="selectTab('manual')">Manual</a>
        </li>
    </ul>

    <div class="d-flex flex-column flex-md-row">
        <div class="col-12 col-md-8">
            <div [hidden]="selectedTab !== 'scan'">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Scanned Invoice
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card">
                                <div class="card-header">
                                    <form class="form-inline" >
                                        <div class="input-group">
                                            <input class="form-control" 
                                            (keyup)="applyFilter($event)"
                                                type="text" placeholder="Search" aria-label="Search" #filter>
                                            <span class="input-group-append">
                                                <button class="btn btn-outline-success" type="button" 
                                                (click)="applyFilter({target: filter})"><i class="bi bi-search"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button *ngFor="let cat of categories, let i=index" 
                                        (click)="setCatSelection(cat.grade)"
                                        type="button" class="btn btn-secondary">{{cat.grade}}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" *ngIf="!isMobileScreen">
                                    <div class="table-container">
                                        <cdk-virtual-scroll-viewport itemSize="50" [style.height]="viewportHeight" class="virtual-scroll-viewport" #virtualScrollViewport>
                                            <table mat-table [dataSource]="dataSource" matSort>
                                                <ng-container matColumnDef="productname">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="mrp">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MRP </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.mrp}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="qtyavailable">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Available </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.qtyavailable}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <app-displayitem [ofItem]="element" [enableBuy]="true"></app-displayitem>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                        </cdk-virtual-scroll-viewport>
                                    </div>
                                </div>
                                <div class="card-body" *ngIf="isMobileScreen">
                                    <div class="table-container">
                                        <cdk-virtual-scroll-viewport itemSize="50" [style.height]="viewportHeight" class="virtual-scroll-viewport" #virtualScrollViewport>
                                            <table mat-table [dataSource]="dataSource" matSort>
                                                
                                                <ng-container matColumnDef="actions">
                                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <app-displayitem [ofItem]="element" [enableBuy]="true"></app-displayitem>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns_mobile; sticky: true"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns_mobile;"></tr>
                                            </table>
                                        </cdk-virtual-scroll-viewport>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="selectedTab !== 'manual'">
                <app-directinvoice-form [oldinvoiceid]="oldinvoiceid"></app-directinvoice-form>
            </div>
        </div>
        <div class="col-12 col-md-4" *ngIf="!isMobileScreen">
            <app-cart></app-cart>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
        <div class="card-body">
            <p class="text text-center">Sripank Software Solutions</p>
        </div>
        </div>
    </div>
</div>
