.ms-n5 {
    margin-left: -40px;
}

zxing-scanner {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
  p {
    text-align: center;
    font-size: 1.2em;
    color: green;
  }
  