
<div class="example-container bg-info">
    <p class="text-bg-secondary">Add inventory for Label/Barcode</p>
    <form [formGroup]="options">
      <div class="example-form-fields">
        <div class="row">
            <div class="col-10">
                <mat-form-field >
                    <mat-label>HSN</mat-label> 
                    <input matInput placeholder="HSN" formControlName="hsn" required>
                </mat-form-field>  
                <mat-form-field >
                    <mat-label>Product Name</mat-label> 
                    <input matInput placeholder="Prod Name" formControlName="productname" required>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Quantity</mat-label> 
                    <input matInput placeholder="Quantity" formControlName="quantity" required>
                </mat-form-field>  
                <mat-form-field >
                    <mat-label>Unit</mat-label>
                    <input matInput placeholder="Unit" formControlName="unit" required>
                </mat-form-field>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-10">
                <mat-form-field >
                    <mat-label>CP </mat-label> 
                    <input matInput placeholder="CP" formControlName="cp" required>
                </mat-form-field>  
                <mat-form-field >
                    <mat-label>Shipping amt</mat-label> 
                    <input matInput placeholder="shipping amt" formControlName="shippingcost" required>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>%GST</mat-label>
                    <input matInput placeholder="%GST" formControlName="percentgst" required>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>CP after GST & Shipping</mat-label> 
                    <input matInput placeholder="CP after GST & Shipping" formControlName="netcp" required>
                </mat-form-field>  
                
            </div>
            
        </div>
       <div class="row">
        <div class="col-10">
            <mat-form-field >
                <mat-label>calculated MRP</mat-label>
                <input matInput placeholder="calculated MRP" formControlName="calculatedmrp" required>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Final MRP </mat-label> 
                <input matInput placeholder="Final MRP " formControlName="mrp" required>
            </mat-form-field>  
            <mat-form-field >
                <mat-label>Profit Rs</mat-label>
                <input matInput placeholder="Profit Rs" formControlName="fixedprofit" required>
            </mat-form-field>
       
                <mat-form-field >
                    <mat-label>%profit </mat-label> 
                    <input matInput placeholder="%profit " formControlName="percentprofit" required>
                </mat-form-field>  
                
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <mat-form-field >
                    <mat-label>Labelled Date yyyy-mm-dd</mat-label>
                    <input matInput placeholder="Labelled Date yyyy-mm-dd" formControlName="labeleddate" required>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Vendor </mat-label> 
                    <input matInput placeholder="Vendor " formControlName="vendor" required>
                </mat-form-field>  
                <mat-form-field >
                    <mat-label>Brand</mat-label>
                    <input matInput placeholder="Brand" formControlName="brand" required>
                </mat-form-field>
               
                    
                    <!-- <mat-form-field >
                        <button mat-button color="primary"  
                            (click)="onSubmit()"    
                            value="Submit">Submit                    
                        </button> 
                    </mat-form-field> -->
            </div>
        
        
       </div>
            
      </div>
    </form>
    
  
  <div class="row m-4">
    <p>Barcode {{barcode}}</p>
    <button class="btn  btn-warning col-md-2 " 
        (click)="calculateCPMRPProfit()"    
        value="Click to Calculate">Click to Calculate      
    </button> 
    <button class="btn  btn-warning offset-md-8 col-md-2 " 
        (click)="onSubmitFire()"    
        value="Click to Submit">Click to Submit      
    </button> 
</div> 