<div class="container">
    <div class="row pt-4">


        <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()" class="bg-light" name="deliveryForm" id="deliveryForm"
            action="">

            <div class="row">
                <div class="form-group col-md-12">
                    <!-- <label for="cPayname" class="control-label">Name:*</label> -->

                    <input id="cPayname" name="cPayname" class="input form-control" type="text"
                        placeholder="Customer Name" formControlName="cPayname"
                        [(ngModel)]="currentCart!.username"
                        [ngClass]="{ 'is-invalid': submitted && f['cPayname'].errors }" required="">
                    <div *ngIf="submitted && f['cPayname'].errors" class="invalid-feedback">
                        <div *ngIf="f['cPayname'].errors['required']">Customer Name is required</div>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-12">
                    <!-- <label for="cPayMobile" class="control-label">Ph.<span style="color:red;"></span>:*</label> -->

                    <input name="cPayMobile" formControlName="cPayMobile" id="cPayMobile" pattern="[1-9]{1}[0-9]{9}"
                    [(ngModel)]="currentCart!.phonenumber"
                        maxlength="10" class="input form-control" type="text"
                        title="Please enter exactly 10 digits. Do not start with 91 or 0"
                        [ngClass]="{ 'is-invalid': submitted && f['cPayMobile'].errors }" placeholder="Mobile No"
                        value="" required="">

                </div>
            </div>
            <div class="row">
                <div class="form-group  col-md-12">
                    <!-- <label for="cPayEmail" class="control-label"> Email:</label> -->

                    <input name="cPayEmail" formControlName="cPayEmail" id="cPayEmail"
                    [(ngModel)]="currentCart!.emailid"
                        [ngClass]="{ 'is-invalid': submitted && f['cPayEmail'].errors }" class="input form-control"
                        type="text" placeholder="Email" value="">

                </div>

            </div>


        </form>

        <div class="row m-4">

            <button class="btn  btn-warning col-md-12 " (click)="onSubmit()" value="Click to Pay">Click to
                Print

            </button>

        </div> 
    </div>
</div>